// Index list
.post-list
  padding: 0

  .post-list-item
    list-style: none
    margin-bottom: $gap-m

    .post-title
      display: block
      margin: 0

    .post-meta
      color: $meta-color
      display: block
      font-family: $font-family-serif
      font-style: italic

// Index pagination
.pagination
  display: flex
  justify-content: center
  margin-bottom: $gap-l

  a
    display: block
    padding: 0 $gap-l
