// Night mode
html.night-mode
  color: $text-color-invert

  body
    background: $background-invert

  ::selection
    background: $background
    color: $background-invert

  h6
    color: $meta-color-invert

  .site-nav
    ul
      li
        a
          color: $meta-color-invert

          &.active
            color: $text-color-invert

  .post-list
    .post-meta
      color: $meta-color-invert

  .page-header
    .post-meta
      color: $meta-color-invert

  .page-content
    & > table
      tr
        &:nth-child(2n)
          background-color: $tertiary-color-invert

        th, td
          border: 1px solid $tertiary-color-invert

    .highlight
      background: $tertiary-color-invert

    code
      background: $tertiary-color-invert

    a:not([id^=fnref])
      border-bottom: 1px dashed $meta-color-invert

    hr
      border-bottom: 2px solid $meta-color-invert

    s, del, .meta
      color: $meta-color-invert

    figcaption
      color: $meta-color-invert

    .footnotes
      color: $meta-color-invert

      p
        a
          border: 0

  .page-comments
    #load-disqus
      color: $meta-color-invert

  .site-footer
    border-top: 1px solid $meta-color-invert
    color: $meta-color-invert
