.page-content {
  padding-top: 2rem;
  width: 100%;

  .page-inner-wrapper {
    padding: 0 $column-gap;
  }

  .page-header {
    position: relative;

    .page-title {
      margin: 0;
    }

    .page-meta {
      display: flex;
      font-size: $font-size-small;
      color: var(--color-text-secondary);

      .page-datetime {
        margin-right: $gap-s;
      }

      .page-categories {
        display: flex;
        align-items: center;

        a {
          color: inherit;
        }
      }
    }
  }

  .page-alert {
    margin: $gap-l 0 0 0;
    padding: $gap-m;
    background-color: var(--color-accent-1);
    font-size: $font-size-small;
    border-radius: 0;
  }

  .page-body {
    margin-top: $gap-l;

    a:not([id^=fnref]) {
      overflow-wrap: break-word;
      word-break: break-all;
    }

    h1, h2, h3, h4,
    h5, h6 {
      &:hover {
        .header-anchor {
          visibility: visible;
        }
      }
    }

    .header-anchor {
      margin-left: $gap-m * -1.4333;
      visibility: hidden;
    }

    p {
      text-align: justify;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      overflow: auto;
      width: 100%;

      tr {
        &:nth-child(2n) {
          background-color: var(--color-accent-1);
        }

        th, td {
          border: 1px solid var(--color-accent-1);
          padding: $gap-s $gap-m;
          white-space: nowrap;
        }
      }
    }

    blockquote {
      position: relative;
      color: var(--color-text-secondary);
      padding-left: $gap-l;
      padding-right: $gap-l;
      overflow-wrap: break-word;
      word-break: break-all;

      &:before {
        position: absolute;
        left: $gap-l * -1;
        content: '\201c';
        font-family: $font-family-chinese;
        font-size: 300%;
        font-weight: 700;
        line-height: 1;
      }

      p:last-child {
        margin: 0;
      }
    }

    ol, ul {
      margin-bottom: $gap-m;
      padding-left: $gap-m * 1.5;
      text-align: justify;

      p {
        margin-bottom: 0;
      }
    }

    ul {
      list-style-type: square;
    }

    li {
      ul, ol {
        margin-bottom: 0;
      }
    }

    pre, code {
      font-family: $font-family-mono;
    }

    pre {
      line-height: $line-height-code;

      code {
        font-size: $font-size-code;

        &:before,
        &:after {
          content: '';
        }
      }
    }

    code {
      color: var(--color-link);

      &:before,
      &:after {
        content: '\`';
      }
    }

    .saber-highlight {
      position: relative;
      overflow: hidden;
      margin: 0 0 $gap-m 0;
      background: var(--color-accent-1);
      border-radius: 0;

      &:before {
        content: attr(data-lang);
        position: absolute;
        right: $gap-s;
        top: $gap-s * 0.5;
        font-size: $font-size-sub-sup;
        color: var(--color-text-secondary);
      }

      pre.saber-highlight-code {
        margin: 0;
        padding: $gap-m;
        overflow: auto;
      }

      code {
        background: transparent;
        padding: 0;
      }
    }

    s, del, .meta {
      color: var(--color-text-secondary);
    }

    // Content Block Element: Horizontal Rule
    hr {
      border: 0;
      height: auto;
      margin: $gap-l auto;
      color: var(--color-text-secondary);
      opacity: 0.5;

      &:after {
        line-height: 0;
        display: block;
        content: "* * *";
        text-align: center;
      }

      // Footnotes: a special horizontal rule
      &.footnotes-sep:after {
        content: "Footnotes";
      }
    }

    sub, sup {
      font-size: $font-size-sub-sup;
    }

    img {
      max-width: 100%;
      margin-bottom: $gap-m;
    }

    p {
      img {
        display: block;
        margin: 0 auto;
      }
    }

    figure {
      > a {
        border: 0 !important;
      }

      img, iframe {
        margin: 0 auto;
        display: block;
        margin-bottom: $gap-s;
      }

      figcaption {
        color: var(--color-text-secondary);
        font-size: $font-size-small;
        text-align: center;

        p {
          margin: 0;
          text-align: center;
        }

        code {
          font-size: $font-size-small;
        }
      }

      blockquote {
        text-align: left;
      }
    }

    figure.highlight {
      text-align: left;
    }

    // Content Block Element: Footnotes Section
    .footnotes {
      color: var(--color-text-secondary);
      font-size: $font-size-footnotes;

      p {
        margin-bottom: $gap-s;

        a {
          color: var(--color-text-secondary);
          border: 0;

          &:hover {
            color: var(--color-link);
          }

          &.footnote-backref {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .page-block-action {
    margin-top: $gap-l;
    display: flex;
    justify-content: space-between;

    .page-tags {
      float: right;
      color: var(--color-text-secondary);
      font-size: $font-size-small;

      .tag {
        color: var(--color-text-secondary);

        &:hover {
          color: var(--color-link);
        }
      }

      .tag:before {
        content: '#';
        opacity: 0.5;
        margin-right: $gap-s / 5;
      }

      .tag:hover {
        opacity: 1;
      }
    }
  }

  .page-footer {
    margin-bottom: $gap-l;
  }
}
