// Fluid Typography: https://www.giuem.com/a-brief-introduction-to-fluid-typography/
@media screen and (min-width: 321px) {
  html {
    font-size: calc(16.8px + 8 * (100vw - 320px) / (2560 - 320));
  }
}

@media screen and (min-width: 2560px) {
  html {
      font-size: 24px;
  }
}

// >= 769px
@media screen and (min-width: $desktop) {
  // Floating figure images
  .page-content {
    figure {
      &.left,
      &.right {
        max-width: 40%;
      }
      &.left {
        float: left;
        margin-right: var(--gap-l);
      }
      &.right {
        float: right;
        margin-left: var(--gap-l);
      }
    }
  }
}
