html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: var(--color-text-primary);
  font-size: 100%;
  line-height: $line-height-base;
  font-feature-settings: "liga" 1, "pnum" 1, "kern" 1;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-family: $font-family;
  font-weight: 500;
}

hr {
  height: 0;
  box-sizing: content-box;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: $line-height-headline;
  margin-bottom: $gap-m;
}

h1 {
  font-size: $font-size-1;
}
h2 {
  font-size: $font-size-2;
}
h3 {
  font-size: $font-size-3;
}
h4 {
  font-size: $font-size-4;
}
h5 {
  font-size: $font-size-5;
}
h6 {
  color: var(--color-text-secondary);
  font-size: $font-size-6;
}

body {
  background: var(--color-background);
  height: 100%;
  max-height: 100%;
}

p, blockquote, table, hr, dl, ul, ol, pre, address, figure {
  margin-bottom: $gap-m;
}

code,
kbd,
samp,
pre {
  font-size: $font-size-6;
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover, &:focus {
    color: var(--color-link);
    text-decoration: underline;
  }
}

img {
  opacity: 1;
}
