@import '~bulma/sass/utilities/_all';
/**
 * Typography: Font Family
 */
$font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// Sans
$font-sans-latin: "Open Sans";
$font-sans-chinese: "Noto Sans SC", "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei";
$font-sans-fallback: sans-serif;
$font-family-sans: $font-sans-latin, $font-sans-chinese, $font-sans-fallback;
// Serif
$font-serif-latin: "Manuale", "Times New Roman";
$font-serif-chinese: "Noto Serif SC", "Source Han Serif SC", STFangsong, FangSong, FangSong_GB2312;
$font-serif-fallback: serif;
$font-family-serif: $font-serif-latin, $font-serif-chinese, $font-serif-fallback;
// Headline
$font-serif-chinese-headline: "Noto Serif SC", "Source Han Serif SC", "Kaiti SC", STKaiti, KaiTi, KaiTi_GB2312;
$font-family-serif-headline: $font-serif-latin, $font-serif-chinese-headline, $font-serif-fallback;
// Mono
$font-family-mono: 'Inconsolata', Monaco, Consolas, 'Lucida Console', monospace;

/**
 * Typography: Font Sizes
 */
// Base font sizes
$font-size-base: 100%;     // 16px
$font-size-base-m: 112.5%; // 18px
$font-size-base-l: 125%;   // 20px
$font-size-base-xl: 150%;  // 24px
// Headline font sizes
$font-size-1: 2rem;
$font-size-2: 1.5rem;
$font-size-3: 1.25rem;
$font-size-4: 1.125rem;
$font-size-5: 1rem;
$font-size-6: 0.875rem;
$font-size-7: 0.8rem;
// Other font sizes
$font-size-code: $font-size-6;
$font-size-footnotes: $font-size-6;
$font-size-small: $font-size-7;
$font-size-sub-sup: $font-size-7;
// font line-height
$line-height-base: 1.7778;
$line-height-code: 1.5;
$line-height-headline: 1.1;

/**
 * Design: Spacing System
 */
$gap-s: 0.4445rem;
$gap-m: 0.8889rem;
$gap-l: 1.7778rem;
$gap-xl: 3.5556rem;

/**
 * Design: Colors System
 */
// normal colors
$background: #fffffe;
$text-color: #3d464d;
$meta-color: #9ea3a6;
$tertiary-color: #f5f5f5;
// dark-mode colors
$background-invert: #1d1f21;
$text-color-invert: #999a9b;
$meta-color-invert: #727375;
$tertiary-color-invert: #2a2c2f;
// theme significant color
$highlight-color: #009688;

/**
 * Bulma Framework: Rearrange Responsiveness Breakpoints
 */
// Adding `watch` breakpoint for smallest devices: iPhone5/SE, watches
$watch: 321px;
$tablet: 481px;
$desktop: 768px;
$widescreen: 960px;
$fullhd: 1152px;
// Bulma Framework: Variables Customization
$family-secondary: $font-family-sans;
$navbar-breakpoint: $desktop;
$column-gap: 1rem;
