@import '~bulma/sass/utilities/_all';

/**
 * Typography: Font Family
 */
$font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// Sans
$font-sans-latin: "Open Sans";
$font-sans-chinese: "Noto Sans SC", "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei";
$font-sans-fallback: sans-serif;
$font-family-sans: $font-sans-latin, $font-sans-chinese, $font-sans-fallback;
// Serif
$font-serif-latin: "Alegreya", "Times New Roman";
$font-serif-chinese: "Noto Serif SC", "Source Han Serif SC", STFangsong, FangSong, FangSong_GB2312;
$font-serif-fallback: serif;
$font-family-serif: $font-serif-latin, $font-serif-chinese, $font-serif-fallback;
// Headline
$font-serif-chinese-headline: "Noto Serif SC", "Source Han Serif SC", "Kaiti SC", STKaiti, KaiTi, KaiTi_GB2312;
$font-family-serif-headline: $font-serif-latin, $font-serif-chinese-headline, $font-serif-fallback;
// Mono
$font-family-mono: 'Inconsolata', Monaco, Consolas, 'Lucida Console', monospace;

/**
 * Typography: Font Sizes
 */
// Base font sizes
$font-size-base: 100%;     // 16px
$font-size-base-m: 112.5%; // 18px
$font-size-base-l: 125%;   // 20px
$font-size-base-xl: 150%;  // 24px
// Headline font sizes
$font-size-1: 2rem;
$font-size-2: 1.5rem;
$font-size-3: 1.25rem;
$font-size-4: 1.125rem;
$font-size-5: 1rem;
$font-size-6: 0.875rem;
$font-size-7: 0.8rem;
// Other font sizes
$font-size-code: $font-size-6;
$font-size-footnotes: $font-size-6;
$font-size-small: $font-size-7;
$font-size-sub-sup: $font-size-7;
// font line-height
$line-height-base: 1.7778;
$line-height-code: 1.5;
$line-height-headline: 1.1;

/**
 * Bulma Framework: Rearrange Responsiveness Breakpoints
 */
// Adding `watch` breakpoint for smallest devices: iPhone5/SE, watches
$watch: 321px;
$tablet: 481px;
$desktop: 768px;
$widescreen: 960px;
$fullhd: 1152px;
// Bulma Framework: Variables Customization
$family-secondary: $font-family-sans;
$navbar-breakpoint: $desktop;
$column-gap: 1rem;

/**
 * Design: Spacing System
 */
$gap-s: 0.4445rem;
$gap-m: 0.8889rem;
$gap-l: 1.7778rem;
$gap-xl: 3.5556rem;

/**
 * Design: The Color System
 */
// default/light mode color variables
:root {
  --color-accent-0: #ffffff;
  --color-accent-1: #efefef;
  --color-accent-2: #dfdfdf;
  --color-accent-3: #bfbfbf;
  --color-accent-4: #5f5f5f;
  --color-accent-5: #3f3f3f;
  --color-accent-6: #2f2f2f;
  --color-accent-7: #1f1f1f;
  --color-background-transparent: rgba(255, 255, 255, 0);
  --color-background: var(--color-accent-0);
  --color-text-primary: var(--color-accent-5);
  --color-text-secondary: var(--color-accent-3);
  --color-link: #039be5;
}
// dark mode color variables
@mixin color-dark-mode {
  :root {
    --color-accent-0: #1f1f1f;
    --color-accent-1: #2f2f2f;
    --color-accent-2: #3f3f3f;
    --color-accent-3: #5f5f5f;
    --color-accent-4: #bfbfbf;
    --color-accent-5: #dfdfdf;
    --color-accent-6: #efefef;
    --color-accent-7: #ffffff;
    --color-background-transparent: rgba(31, 31, 31, 0);
    --color-background: var(--color-accent-0);
    --color-text-primary: var(--color-accent-5);
    --color-text-secondary: var(--color-accent-3);
    --color-link: #66ccff;
  }
}
// Force dark mode
html.dark-mode {
  @include color-dark-mode();
}
// Auto dark mode
@media (prefers-color-scheme: dark) {
  @include color-dark-mode();
}
