.header__fixed
  position: fixed
  z-index: 10
  right: 0
  left: 0
  top: 0

.animated
  animation-duration: .5s
  animation-fill-mode: both
  &.slideUp
    animation-name: slideUp
    box-shadow: none
  &.slideDown
    animation-name: slideDown

.site-header
  align-items: center
  background-color: #fafafa
  box-shadow: 0 0 1px rgba(0, 0, 0, .15)
  display: flex
  justify-content: center
  padding: $gap-m 0

  .columns
    padding 0 $gap-m
    width 100%
    max-width $breakpoint-max
  // Site Navigation
  .topbar-nav-wrap
    text-align right
  .topbar-nav
    ul
      list-style: none
      margin-bottom: 0
      padding-left: 0

      li
        display: inline-block

        &+li
          margin-left: $gap-m
