.gad {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin-bottom: var(--gap-m);
}

.snackbar {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  font-size: 14px;
}
