// Content Block Element: Image Gallery
.md-gallery {
  margin-bottom: var(--gap-m);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

  figure {
    margin-bottom: 0;
  }

  &.alignfull {
    padding-left: var(--gap-m);
    padding-right: var(--gap-m);
  }
}
