/* sticky-footer: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main article {
  flex: 1;
}
.main-container {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
}
html.navbar-active body {
  overflow: hidden;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
