/* Google Ads */
.gad {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin-bottom: var(--gap-m);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}
