.page-content {
  padding-top: 3rem;
  width: 100%;

  .page-inner-wrapper {
    padding: 0 var(--gap-m);
  }

  .page-header {
    position: relative;

    .page-title {
      margin: 0;
    }

    .page-meta {
      display: flex;
      font-size: var(--font-size-small);
      color: var(--color-text-secondary);

      section {
        margin-right: var(--gap-s);
      }

      .page-categories {
        display: flex;
        align-items: center;
      }
    }
  }

  .page-alert {
    margin: var(--gap-l) 0 0 0;
    padding: var(--gap-m);
    background-color: var(--color-accent-1);
    font-size: var(--font-size-small);
    border-radius: 0;
  }

  .page-body {
    margin-top: var(--gap-l);
  }

  .footnotes {
    color: var(--color-text-secondary);
    font-size: var(--font-size-footnotes);

    p {
      margin-bottom: var(--gap-s);

      a {
        &.footnote-backref {
          border: none;
        }
      }
    }
  }

  .page-block-action {
    margin-top: var(--gap-l);
    display: flex;
    justify-content: space-between;

    .page-tags {
      float: right;
      color: var(--color-text-secondary);
      font-size: var(--font-size-small);

      .tag {
        color: var(--color-text-secondary);

        &:hover,
        &:focus {
          color: var(--color-link);
        }
      }

      .tag:before {
        content: '#';
        opacity: 0.5;
        margin-right: var(--gap-s) / 5;
      }

      .tag:hover,
      .tag:focus {
        opacity: 1;
      }
    }
  }

  .page-footer {
    margin-bottom: var(--gap-l);
  }
}
