.page-content {
  width: 100%;
}
.page-content .page-header {
  position: relative;
}
.page-content .page-header .page-title {
  margin-bottom: var(--gap-l);
}
.page-content .page-header .page-meta {
  text-align: right;
  font-style: italic;
  font-size: var(--font-size-small);
  color: var(--color-text-secondary);
  line-height: var(--line-height-small);
}
.page-content .page-body {
  margin-top: var(--gap-m);
}
.page-content .page-body .footnotes {
  color: var(--color-text-secondary);
  font-size: var(--font-size-footnotes);
}
.page-content .page-body .footnotes p {
  margin-bottom: var(--gap-s);
}
