/* <= 768px */
@media screen and (max-width: 768px) {
  main {
    padding-top: var(--gap-m);
    padding-left: var(--gap-m);
    padding-right: var(--gap-m);
    min-height: calc(100vh - calc(60px + var(--gap-l) * 2));
  }
}

/* > 768px */
@media screen and (min-width: 769px) {
  .main-container {
    display: flex;
  }
  aside {
    padding-top: var(--gap-xl);
    width: 25%;
  }
  main {
    padding-top: var(--gap-xl);
    padding-right: var(--gap-l);
    width: 75%;
  }
  /* Floating figure images */
  .page-content figure.left,
  .page-content figure.right {
    max-width: 45%;
  }
  .page-content figure.left {
    float: left;
    margin-right: var(--gap-l);
  }
  .page-content figure.right {
    float: right;
    margin-left: var(--gap-l);
  }
}
