/**
  * Design System: Typography
  */
.page-body {
  /* Block Element: <blockquote> */
  blockquote {
    margin: var(--gap-l) 0;
    position: relative;
    color: var(--color-text-secondary);
    padding-left: calc(var(--gap-l) * 1.5);
    padding-right: var(--gap-l);
    overflow-wrap: break-word;

    p:last-child {
      margin: 0;
    }

    &:before {
      position: absolute;
      top: calc(var(--gap-m) * -1);
      left: 0;
      content: '\201c';
      font-family: var(--font-family-quotemark);
      font-size: 300%;
      font-weight: 700;
      line-height: 1;
    }
  }

  /* Block Element: <code>, <pre> */
  code,
  pre {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-code);
  }
  code::before,
  code::after {
    content: "`";
  }
  pre code::before,
  pre code::after {
    content: none;
  }
  .saber-highlight { /* saber highlight */
    position: relative;
    overflow: hidden;
    margin: 0 0 var(--gap-m) 0;
    border-radius: 0;

    code {
      background: transparent;
      padding: 0;
    }

    pre.saber-highlight-code {
      margin: 0;
      padding: var(--gap-m);
      overflow: auto;
    }

    &:before {
      content: attr(data-lang);
      position: absolute;
      right: var(--gap-s);
      opacity: 0.2;
      color: var(--color-text-secondary);
      font-family: var(--font-family-mono);
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  /* Block Element: <figure> (-wrapped image, embed iframe, etc) */
  figure {
    text-align: center;

    img {
      margin-bottom: 0; /* no margin for figure-wrapped img */
    }

    iframe {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    figcaption {
      margin-top: var(--gap-s);
      color: var(--color-text-secondary);
      font-size: var(--font-size-small);

      code {
        font-size: var(--font-size-small);
      }
    }

    blockquote {
      text-align: left;
    }

    .highlight {
      text-align: left;
    }

    &.alignfull,
    &.alignwide {
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
      max-width: 100vw;
    }
  }

  /* Block Element: <hr> */
  hr {
    border: 0;
    height: auto; /* reset <hr> height from 0 to auto */
    margin: var(--gap-l) auto;
    opacity: 0.5;
    overflow: visible;

    &:after {
      color: var(--color-text-secondary);
      content: "* * *";
      display: block;
      height: 1rem;
      line-height: 1;
      text-align: center;
      word-spacing: .5rem;
    }

    /* a special horizontal rule for footnotes */
    &.footnotes-sep:after {
      content: "Footnotes";
    }
  }

  /* Block Element: <ol>, <ul> */
  ol,
  ul {
    margin-bottom: var(--gap-m);
    padding-left: calc(var(--gap-m) * 1.5);
    text-align: justify;

    p {
      margin-bottom: 0;
    }

    li {
      ol,
      ul {
        margin-bottom: 0;
      }
    }
  }
  ul {
    list-style-type: square;
  }

  /* Block Element: <p> paragraph */
  // p {
  //   text-align: justify;
  //   hyphens: auto;
  // }

  /* Block Element: <table> */
  table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    overflow: auto;
    width: 100%;

    tr {
      th,
      td {
        border: 1px solid var(--color-accent-2);
        padding: var(--gap-s) var(--gap-m);
        white-space: nowrap;
      }

      &:nth-child(2n) {
        background-color: var(--color-accent-1);
      }
    }
  }

  /* Inline Element: <a> */
  a {
    &:not([id^=fnref]) {
      padding-bottom: 1px;
      overflow-wrap: break-word;
      word-break: break-all;
      transition: border .15s ease-in-out;
      background-image: linear-gradient(var(--color-accent-3), var(--color-accent-3));
      background-size: 100% 1px;
      background-repeat: repeat-x;
      background-position: bottom;
      text-shadow:
        .03em 0 var(--color-background),
        -.03em 0 var(--color-background),
        0 .03em var(--color-background),
        0 -.03em var(--color-background),
        .06em 0 var(--color-background),
        -.06em 0 var(--color-background),
        .09em 0 var(--color-background),
        -.09em 0 var(--color-background),
        .12em 0 var(--color-background),
        -.12em 0 var(--color-background),
        .15em 0 var(--color-background),
        -.15em 0 var(--color-background);
    }

    &:hover,
    &:focus {
      color: var(--color-link);
      text-decoration: none;
      background-image: linear-gradient(var(--color-text-primary), var(--color-text-primary));
    }
  }

  /* Inline Element: <del>, <s> */
  del,
  s {
    color: var(--color-text-secondary);
  }

  /* Inline Element: bare <img> */
  img {
    margin-bottom: var(--gap-m);
    vertical-align: middle; /* inline-block image gap fix */
  }

  /* Inline Element: <sub>, <sup> */
  sub, sup {
    font-size: var(--font-size-sub-sup);
  }
}
