:root {
  /**
   * Design System: Fonts
   */
  // Primary
  --font-family:
    pt-sans,
    system-ui,
    source-han-sans-cjk-sc,
    -apple-system,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  // Mono
  --font-family-mono:
    ui-monospace,
    SFMono-Regular,
    Consolas,
    "Liberation Mono",
    Menlo,
    monospace;
  // This one is for the quote mark inside a blockquote
  --font-family-quotemark:
    'Times New Roman',
    Times,
    serif;
  // This is the max-width for the main content body
  --container-max-width: 680px;
  /**
   * Typography: Font Sizes and Line Height
   */
  // Headline font sizes
  --font-size-1: 2rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;
  --font-size-7: 0.75rem;
  // Other font sizes
  --font-size-code: var(--font-size-6);
  --font-size-footnotes: var(--font-size-7);
  --font-size-small: var(--font-size-7);
  --font-size-sub-sup: var(--font-size-7);
  // font line-height
  --line-height-base: 1.7778;
  --line-height-code: 1.4;
  --line-height-headline: 1.2;

  /**
   * Design System: Colours
   */
  // light mode color variables (default)
  --color-accent-0: #fafbfc;
  --color-accent-1: #f6f8fa;
  --color-accent-2: #e1e4e8;
  --color-accent-3: #d1d5da;
  --color-accent-4: #959da5;
  --color-accent-5: #6a737d;
  --color-accent-6: #586069;
  --color-accent-7: #444d56;
  --color-accent-8: #2f363d;
  --color-accent-9: #24292e;
  --color-background-transparent: rgba(255, 255, 255, 0);
  --color-background: var(--color-accent-0);
  --color-text-primary: var(--color-accent-8);
  --color-text-secondary: var(--color-accent-6);
  --color-text-tertiary: var(--color-accent-5);
  --color-scrollbar: var(--color-accent-2);
  --color-scrollbar-hover: var(--color-accent-4);
  // low contrast link color in light mode
  --color-link: var(--color-accent-9);

  /**
   * Design System: Spacing
   */
  --gap-s: 0.4445rem;
  --gap-m: 0.8889rem;
  --gap-l: 1.7778rem;
  --gap-xl: 3.5556rem;
}
