.site-header {
  align-items: center;
  background-color: $background;
  color: $text-color;
  display: flex;
  justify-content: center;
  padding: $gap-m 0;

  .columns {
    padding: 0 $gap-m;
    width: 100%;
    max-width: $desktop;
  }
  .topbar-nav-wrap {
    text-align: right;
  }
  .topbar-nav {
    ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;

      li {
        display: inline-block;

        &+li {
          margin-left: $gap-m;
        }
      }
    }
  }
}

.headroom--unpinned {
  .site-header {
    box-shadow: none;
  }
}

html.black-header {
  .site-header {
    background-color: $background-invert;
    color: $text-color-invert;
  }
}
