/**
 * Typography: Fonts definition
 */

// Biaodian
$font-biaodian = "Biaodian"
$font-emoji = "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
// Sans
$font-sans-latin = "Open Sans"
$font-sans-chinese = "Source Han Sans SC", "Noto Sans CJK SC", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei"
$font-sans-fallback = sans-serif
$font-family-sans = $font-sans-latin, $font-sans-chinese, $font-sans-fallback
// Serif
$font-serif-latin = "Manuale"
$font-serif-chinese = "Source Han Serif SC", "Noto Serif CJK SC", "Songti SC"
$font-serif-fallback = serif
$font-family-serif = $font-serif-latin, $font-serif-chinese, $font-serif-fallback
// Mono
$font-family-mono = Monaco, Consolas, 'Lucida Console', monospace

/**
 * Typography: Fonts size definition
 */

// Base, baseline is large-size (112.5%)
$font-size-base-s = 87.5% // 14px
$font-size-base-m = 100% // 16px
$font-size-base-l = 112.5% // 18px
// Headline size
$font-size-h1 = 1.4445rem
$font-size-h2 = 1.2223rem
$font-size-h3 = 1.1111rem
$font-size-h4 = 1rem
$font-size-h5 = .8889rem
$font-size-h6 = .8889rem
// Meta size
$font-size-code = .875rem
$font-size-small = .8rem
$font-size-footnotes = .7778rem
$font-size-sub-sup = .725rem
// Lineheight
$line-height-base = 1.7778
$line-height-code = 1.5

$font-weight-bold = 600

/**
 * Spacing
 */

$gap-s = .4445rem // rarely use
$gap-m = .8889rem
$gap-l = 1.7778rem
$gap-xl = 3.5556rem

// Colors Group: Normal, Day Mode
$background = #fffffe
$text-color = #3d464d // dark gray
$meta-color = #9ea3a6 // light gray
$tertiary-color = #f5f5f5

// Colors Group: Invert, Night Mode
$background-invert = #1d1f21
$text-color-invert = #999a9b // dark gray invert
$meta-color-invert = #727375 // light gray invert
$tertiary-color-invert = #2a2c2f

// Main color
$highlight-color = #009688

// Breakpoint
$breakpoint-mid = 30rem // 480px
$breakpoint-max = 60rem // 960px
$post-wrap-width = 40rem // 720px
