.site-footer {
  background-color: #fafafa;
  margin-top: $gap-l;
  color: $text-color;
  padding: $gap-m 0;

  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: inline-block;

      &+li {
        margin-left: $gap-m;
      }
    }
  }

  .section {
    margin-bottom: $gap-m;
    text-align: center;
    &:last-child {
      margin: 0;
    }
  }

  .copyright {
    font-size: $font-size-small;
  }

  p {
    margin: 0;
    a {
      text-decoration: underline;
    }
  }
}

html.black-footer {
  .site-footer {
    background-color: $background-invert;
    color: $text-color-invert;
  }
}
